{{#each this}}
  <h2 class='country-name'>Name: {{name.official}}</h2>
  <p class='capital'>Capital: {{capital}}</p>
  <p class='population'>Population: {{population}} people</p>
  <a href='{{flags.svg}}' class='link-flag'>
  </a>
  <p class='languages'>Languages: {{languages}}</p>
{{/each}}